.Modal {
    position: fixed;
    z-index: 200;
    background-color: #f7c5ce;
    width: 70%;
    border: 1px solid #cccc;
    top: 30%;
    left: 15%;
    text-align: center;
    box-shadow: 2px 5px 10px #888888;
    padding: 15px 0px;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.Backdrop{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 100;
}