.gridContainer {
    display: grid;
    grid-template-columns: 250px auto;
    text-align: left;
    margin: 0px 10px;
    border-bottom: 5px solid black;
    border-bottom-width: thin;
}

.checkoutbtn {
    background-color: rgb(103 239 103);
    border-style: hidden;
    padding: 5px 10px;
    font-size: medium;
    border-radius: 10px;
    outline: none;
    box-shadow: 2px 5px 10px #888888;
    cursor: pointer;
}
.checkoutbtn:hover {
    color: white;
    background-color: rgb(233, 93, 93);
}

.checkoutbtn:active {
    background-color: rgb(29, 197, 29);
}

* {
    box-sizing: border-box;
}

.align {
    float: left;
    text-align: justify;
    margin: 0px 20px;
}

.buttonDiv {
    margin: 5px 20px;
    right: 10%;
    float: right;
}

.footer {
    position: fixed;
    background-color: #f7c5ce;
    width: 100%;
    height: 50px;
    border: 1px solid #cccc;
    bottom: 0px;
    text-align: center;
}
.align p {
    margin: 0px;
    font-weight: bold;
}

.main {
    /* max-height: calc(100vh - 100px); keep the space */
    height: calc(100vh - 49px);
    overflow-y: scroll;
}

.addCart button{
    margin-right: 25px;
}

.itemIcon {
    display: inline-block;
    background-color: rgb(31, 161, 31);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    color: white;
    margin: 5px 10px;
    font-size: large;
    cursor: pointer;
}

.itemIcon:hover {
    color: white;
    background-color: rgb(233, 93, 93);
}

.itemIcon:active {
    background-color: rgb(29, 197, 29);
}

.addCart {
    display: inline;
}

img {
    width: 200px;
    height: 200px;
}

p {
    margin: 8px;
}

.Brand {
    color:rgb(29, 197, 29);
    font-size: larger;
    font-weight: bold;
}

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(158, 157, 157);
    text-align: center;
    background-color: rgb(247, 240, 240);
    cursor: pointer;
}

.close:hover {
    background-color: rgb(165, 150, 150);
}

@media only screen and (max-width: 380px) {
    .gridContainer {
        grid-template-columns: 150px auto;
    }

    img {
        width: 100px;
        height: 100px;
    }
}
